/* :root { */
/*     --text: #0b0701; */
/*     --background: #fefbf8; */
/*     --primary: #e47a1c; */
/*     --secondary: #93f189; */
/*     --accent: #5cec91; */
/* } */

body {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
pre {
    font-weight: bold;
    line-height: 1;
    font-size: 18px;
}

#text-form {
    display: flex;
    flex-direction: column;
}
#text-input {
    line-height: 1;
    font-size: 14px;

    color: black;
    background-color: transparent;
    width: 100%;
    padding: 10em 2em;
    padding-top: 2em;
    /* line-height: 28px; */
}

.big-button {
    width: 256px;
    height: 60px;
}
.small-button {
    width: 64px;
    height: 32px;
}
button {
    margin-top: 1em;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
button:active {
  box-shadow: none;
  transform: translateY(0);
}

#output {
    position: absolute;
}
#text-output {
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 0;
}
